.image-container {
  text-align: center;
  margin-top: 100px;
}

.image-container:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.image-container img {
  max-width: 90%;
  width: 100%;
}

.overlay {
  text-align: center;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.8);
  transition: 0.5s ease;
  opacity: 0;
  font-size: 15px;
}

.rating{
  font-size: 15px;
  transition: 0.5s ease;
  opacity: 0;
  margin-left: 75%;
}

.image-container:hover .overlay{
  opacity: 1;
}

.image-container:hover .rating{
  opacity: 1;
}


.movie-title {
  color: #f5f5f5f1;
}
